/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    font-family: "Helvetica Neue", helvetica, arial;
    font-size: 13px;
    color: #333;
}



a {
    text-decoration: none;
    color: #1b98f8;
}


/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 10px;
    margin : 2px 2px 2px 10px;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}


/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */
#layout, #nav, #list, #main {
    margin: 0;
    padding: 0;
}

/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 80px;
    position: relative;
    background: rgb(37, 42, 58);
    text-align: center;
}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
    height: 80%;
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}


/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
#nav .pure-menu-link:hover,
#nav .pure-menu-link:focus {
    background: rgb(55, 60, 90);
}
#nav .pure-menu-link {
    color: #fff;
    margin-left: 0.5em;
}
#nav .pure-menu-heading {
    border-bottom: none;
    font-size:110%;
    color: rgb(75, 113, 151);
}


.board-count {
    color: rgb(75, 113, 151);
}

.board-label-personal,
.board-label-work,
.board-label-travel {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
}
.board-label-personal {
    background: #ffc94c;
}
.board-label-work {
    background: #41ccb4;
}
.board-label-travel {
    background: #40c365;
}


.board-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
.board-avatar {
    border-radius: 3px;
    margin-right: 0.5em;
}
.board-name,
.board-subject {
    margin: 0;
}
.board-name {
    text-transform: uppercase;
    color: #999;
}
.board-desc {
    font-size: 80%;
    margin: 0.4em 0;
}

.foot-item {
    width:100%;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #ddd;
}


.board-content-header, .board-content-body, .board-content-footer {
    padding: 1em;
    height: 400px;
}
.board-content-header {
    border-bottom: 1px solid #ddd;
}

.board-content-title {
    margin: 0.5em 0 0;
}
.board-content-subtitle {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}
.board-content-subtitle span {
    color: #999;
}
.board-content-controls {
    margin-top: 2em;
    text-align: right;
}
.board-content-controls .secondary-button {
    margin-bottom: 0.3em;
}

.foot-content {
    padding: 1em;
    border-top: 1px solid #ddd;
    height: 100%;
}

.board-avatar {
    width: 40px;
    height: 40px;
}


/* Move the layout over so we can fit the nav + list in on the left */
#layout {
    padding-left:500px; /* "left col (nav + list)" width */
    position: relative;
}

/* These are position:fixed; elements that will be in the left 500px of the screen */
#nav, #list {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
}
#nav {
    margin-left:-500px; /* "left col (nav + list)" width */
    width:150px;
    height: 100%;
}

/* Show the menu items on the larger screen */
.nav-inner {
    display: block;
    padding: 2em 0;
}


/* This will take up the entire height, and be a little thinner */
#list {
    margin-left: -350px;
    width:350px;
    height: 100%;
    border-right: 1px solid #ddd;
}

/* This will now take up it's own column, so don't need position: fixed; */
#main {
    position: static;
    margin: 0;
    padding: 0;
}
