body {
  font-family: "Helvetica Neue", helvetica, arial;
  font-size: 12px;
  padding: 15px;
}

div#content {
  width:900px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #90bade;
}

ul li {
  line-height: 1.2;
}

div#nav {
  float: left;
}

div#nav ul
{
  width: 200px;
  height: 350px;
  overflow: auto;
}

div#board
{
  float: left;
  width: 350px;
  height: 350px;
  border: 1px solid #90bade;  
}